<div class="container__footer-card">
  <!-- Informações de Endereço -->
  <div class="container__address-card">
    <div class="logo">
      <img
        src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000"
        alt="Logo"
      />
    </div>
    <div class="address">
      <p>
        <strong>Lar Escola Rita Maria de Jesus</strong><br />
        Rua Cândido Portinari, 46 - Vila Xavier, Araraquara, SP, Brasil<br />
        Telefone: (16) 3337-4760
      </p>
    </div>
  </div>

  <!-- Redes Sociais -->
  <div class="container__social-card">
    <h3>Conecte-se conosco</h3>
    <div class="social-icons">
      <a href="https://www.facebook.com/LarEscolaRitaMariaDeJesus/?locale=pt_BR" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
          alt="Facebook"
        />
      </a>
      <a href="https://www.instagram.com/larescola_ritamariadejesus/" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
          alt="Instagram"
        />
      </a>
      
    </div>
  </div>

  <!-- Direitos Autorais -->
  <div class="copyright">
    <p>© 2025 Lar Escola Rita Maria de Jesus. Todos os direitos reservados.</p>
  </div>
</div>