<nav class="menu-bar">
  <div class="menu-bar__logo">
    <img src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000" alt="Logo" width="40" height="40">
    <span class="menu-bar__title">Lar Escola</span>
  </div>
  <ul class="menu-bar__links">
    <li><a routerLink="/home">Página inicial</a></li>
    <li><a routerLink="/notas">Notas</a></li>
    <li><a routerLink="/comunicados">Comunicados</a></li>
    <li><a routerLink="/atividades">Atividades</a></li>    
  </ul>
  <div class="menu-bar__user">
    <button class="user-btn" (click)="showUserMenu = !showUserMenu">
      <img src="https://img.icons8.com/ios-filled/50/user-male-circle.png" width="28" height="28" style="vertical-align: middle;">
      <span class="user-name">João</span>
      <span class="arrow">&#9662;</span>
    </button>
    <div class="user-menu" *ngIf="showUserMenu">
      <button (click)="logout()">Sair</button>
    </div>
  </div>
</nav>

<main class="dashboard">
  <div class="dashboard-cards">
    <div class="dashboard-card">
      <img src="https://img.icons8.com/color/48/exam.png" class="dashboard-card__icon" alt="">
      <a routerLink="/notas" class="dashboard-btn">Notas</a>
    </div>
    <div class="dashboard-card">
      <img src="https://img.icons8.com/ios/50/commercial--v1.png" class="dashboard-card__icon" alt="">
      <a routerLink="/comunicados" class="dashboard-btn">Comunicados</a>
    </div>
    <div class="dashboard-card">
      <img src="https://img.icons8.com/color/48/calendar--v1.png" class="dashboard-card__icon" alt="">
      <a routerLink="/atividades" class="dashboard-btn">Atividades</a>
    </div>
  </div>
</main>


