<div class="list__alunos">
  <h1>Lista de Alunos</h1>
</div>

<div class="filter__container">
  <div class="filter__name">
    <input type="text" id="myInput" placeholder="Pesquisar por nomes" />
  </div>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>MATRÍCULA</th>
        <th>ALUNO</th>
        <th>FOTO</th>
        <th>CURSO</th>
        <th>TURMA</th>
        <th>RA</th>
        <th>CPF</th>
        <th>DATA DE NASC.</th>
        <th>GÊNERO</th>
        <th>NOME DA MÃE</th>
        <th>NOME DO PAI</th>
        <th>ENDEREÇO</th>
        <th>BAIRRO</th>
        <th>CEP</th>
        <th>CIDADE</th>
        <th>ESTADO</th>
        <th>CONTATO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01000</td>
        <td>Gabrieli Crippa Sancassani</td>
        <td><img src="https://img.icons8.com/?size=100&id=wBIX79CjJh8m&format=png&color=000000" alt="Foto do Aluno" /></td>
        <td>Ensino Fundamental</td>
        <td>4A</td>
        <td>33.333.333-33</td>
        <td>222.222.222-22</td>
        <td>01/11/2003</td>
        <td>Feminino</td>
        <td>Natalia Crippa Sancassani</td>
        <td>André Luis Sancassani</td>
        <td>Avenida Fortunato Bressan, 01</td>
        <td>Jardim Brasília</td>
        <td>14800-000</td>
        <td>Araraquara</td>
        <td>SP</td>
        <td>16-9999.9999</td>
      </tr>
      <tr>
        <td>01000</td>
        <td>Crippa Sancassani</td>
        <td><img src="https://img.icons8.com/?size=100&id=wBIX79CjJh8m&format=png&color=000000" alt="Foto do Aluno" /></td>
        <td>Ensino Fundamental</td>
        <td>4A</td>
        <td>33.333.333-33</td>
        <td>222.222.222-22</td>
        <td>01/11/2003</td>
        <td>Feminino</td>
        <td>Natalia Crippa Sancassani</td>
        <td>André Luis Sancassani</td>
        <td>Avenida Fortunato Bressan, 01</td>
        <td>Jardim Brasília</td>
        <td>14800-000</td>
        <td>Araraquara</td>
        <td>SP</td>
        <td>16-9999.9999</td>
      </tr>
      <!-- Adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</div>

<!-- Angular CRUD -->
<!-- https://www.youtube.com/watch?v=4mKY_yDq64g -->