<div class="list__professores">
  <h1>Lista de Professores</h1>
</div>

<div class="filter__container">
  <div class="filter__name">
    <input
      type="text"
      id="myInput"
      placeholder="Pesquisar por nomes"
    />
  </div>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>PROFESSOR</th>
        <th>CURSO</th>
        <th>TURMA(S)</th>
        <th>DISCIPLINA(S)</th>
        <th>PERÍODO</th>
        <th>CPF</th>
        <th>DATA DE NASC.</th>
        <th>GÊNERO</th>
        <th>ENDEREÇO</th>
        <th>BAIRRO</th>
        <th>CEP</th>
        <th>CIDADE</th>
        <th>ESTADO</th>
        <th>CONTATO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0100</td>
        <td>Marcia Maria Sancassani</td>
        <td>Ensino Fundamental</td>
        <td>9A</td>
        <td>Inglês</td>
        <td>Manhã</td>
        <td>222.222.222-22</td>
        <td>01/11/2003</td>
        <td>Feminino</td>
        <td>Avenida Dr. Leite de Moraes, 1483</td>
        <td>Vila Xavier</td>
        <td>14800-000</td>
        <td>Araraquara</td>
        <td>SP</td>
        <td>16-9999.9999</td>
      </tr>
      <!-- Adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</div>

<!-- acrescentar período na lista de alunos -->



<!-- Angular CRUD -->
<!-- https://www.youtube.com/watch?v=4mKY_yDq64g -->

