body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container__big-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container__left {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(87, 185, 212);
}

.container__left-content {
  text-align: left;
}

.logo__big-card {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.container__left h1 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 15px;
}

.container__left p {
  font-size: 16px;
  color: #34495e;
  line-height: 1.6;
  margin-bottom: 20px;
}

.learn-more-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Adicione esta linha */
}

.learn-more-button:hover {
  background-color: #2980b9;
}

.container__left-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
}

.container__left-logo > img {
  width: 200px;  
  border-radius: 50%;  
  margin: 10px;
}

.container__left-logo > h1 {
  font-size: 22px;
  font-weight: 500;
}

.container__left-logo > h3 {
  font-size: 22px;
}

.container__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 185, 212);
}

.container__right-img {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__right-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container__big-card {
    flex-direction: column;
    text-align: center;
  }

  .container__left,
  .container__right {
    padding: 10px;
  }

  .container__right-img img {
    max-width: 100%;
  }
}