<div class="container__big-card">
  <!-- Seção Esquerda -->
  <div class="container__left">
    <div class="container__left-content">
      <img
        src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000"
        alt="Logo"
        class="logo__big-card"
      />
      <h1>Lar Escola Rita Maria de Jesus</h1>
      <p>
        Atendemos crianças de 06 a 12 anos, em horário contrário à escola, com diversas atividades que promovem o
        desenvolvimento educacional, social e cultural.
      </p>
      <a routerLink="/about" class="learn-more-button">Saiba Mais</a>
    </div>
  </div>

  <!-- Seção Direita -->
  <div class="container__right">
    <div class="container__right-img">
      <img
        src="https://ffms.pt/sites/default/files/styles/convert_webp/public/2022-08/escolas_para_o_seculo_xxi_estudos_ffms.jpg.webp?itok=w8aZVJTT"
        alt="Foto de capa"
      />
    </div>
  </div>
</div>