<div class="login-container">
  <div class="form__logo">
    <a routerLink="/">
      <img src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000"
        alt="Logo Escola" />
    </a>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login do Responsável</h2>

    <div>
      <label for="email">Usuário</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Digite o nome de usuário" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Por favor, insira um email válido.
      </div>
    </div>

    <div>
      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Digite sua senha" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        A senha é obrigatória.
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>

    <div>
      <a routerLink="/recuperar-senha">Esqueci minha senha ou usuário.</a>
    </div>
  </form>
</div>
