<div class="about-container">

  <div class="about-content">
    <p>
      <strong>Sobre o Lar e Nossas Atividades</strong><br />
      No Lar, acreditamos que o desenvolvimento integral da criança vai além da
      sala de aula. Por isso, oferecemos um ambiente acolhedor e estimulante para
      crianças de 06 a 12 anos, em horários alternativos à escola, garantindo que
      tenham acesso a atividades enriquecedoras.
    </p>
    <p>
      Nosso programa contempla ações voltadas ao crescimento educacional, social e
      cultural dos participantes. Aqui, as crianças são incentivadas a explorar,
      aprender e interagir por meio de atividades diversificadas, como oficinas
      educativas, recreação, práticas esportivas, projetos artísticos e momentos
      de convivência. Cada iniciativa é planejada para fortalecer habilidades
      socioemocionais, ampliar horizontes e proporcionar experiências
      significativas que contribuem para a formação de cidadãos ativos e
      conscientes.
    </p>
    <p>
      Além disso, buscamos criar um ambiente seguro e motivador, onde cada
      criança se sinta valorizada e tenha a oportunidade de desenvolver seu
      potencial ao máximo. Com uma equipe dedicada e metodologia participativa,
      trabalhamos para que o Lar seja um espaço de aprendizado, inclusão e
      crescimento.
    </p>
  </div>

  <div class="about-footer">
    <a class="back-button" routerLink="/home">Voltar para Home</a>
  </div>
</div>
