<div class="login-container">
  <div class="form__logo">
    <a routerLink="/">
      <img src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000"
        alt="Logo Escola" />
    </a>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form__container">
    <h1>Login do Aluno</h1>
    <p>Faça login para acessar o sistema</p>

    <!-- Campo de Email -->
    <div class="form__user">
      <label for="email">Usuário</label>
      <div class="form__input">
        <img src="https://img.icons8.com/ios-glyphs/30/filled-message.png" alt="Ícone de Email" />
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Digite o nome de usuário"
          [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />
      </div>
      <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Por favor, insira um email válido.
      </small>
    </div>

    <!-- Campo de Senha -->
    <div class="form__user">
      <label for="password">Senha</label>
      <div class="form__input">
        <img src="https://img.icons8.com/material-rounded/24/lock--v1.png" alt="Ícone de Senha" />
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Digite sua senha"
          [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
      </div>
      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        A senha é obrigatória.
      </small>
    </div>

    <!-- Botão de Login -->
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>

    <!-- Link de Esqueci Minha Senha -->
    <div class="form__forget">
      <p><a routerLink="/recuperar-senha">Esqueci minha senha ou usuário.</a></p>
    </div>
  </form>
</div>
