<div class="qrcode-card-container">
  <!-- Título -->
  <div class="title__qrcode-card">
    <h1>Gostaria de nos ajudar?</h1>
    <p>Com sua doação, você pode contribuir para cestas básicas, assistência e tratamento das crianças.</p>
  </div>

  <!-- Seção de Doação -->
  <div class="donation-section">
    <div class="donation-info">
      <h2>Doe qualquer valor!</h2>
      <p>
        Escaneie o QR Code abaixo ou utilize a chave Pix para fazer sua doação. Toda ajuda é bem-vinda e fará a
        diferença!
      </p>
    </div>
    <div class="qrcode-image">
      <img
        src="https://hexdocs.pm/qr_code/docs/qrcode.svg"
        alt="QR Code para doação"
      />
    </div>
  </div>

  <!-- Informações da Chave Pix -->
  <div class="pix-info">
    <h3>Informações para Doação</h3>
    <div class="pix-details">
      <div>
        <h4>Chave Pix:</h4>
        <p>31.404.309./0001-70</p>
      </div>
      <div>
        <h4>Tipo de Chave:</h4>
        <p>CNPJ</p>
      </div>
    </div>
  </div>
</div>

