.title__container {
    background-color: rgb(0, 131, 167);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.title__container > h1 {
    font-size: 34px;
}

.icon__container {
    display: flex;
    align-items: center;
}

.icon__container > label {
    font-size: 22px;
}

.icon__container > img {
    margin-left: 10px;
    width: 34px;
}

.data__container {
    padding: 20px;
    color: rgb(0, 131, 167);
}

.data__title > h3 {
    font-size: 32px;
}

.data__container > h3 {
    line-height: normal;
    font-size: 16px;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background-color: rgb(0, 131, 167);
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}  

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active-yellow {
    padding: 5px;
    background-color: rgb(223, 223, 21);
    color: green !important;
    border: 2px solid green;
}

.days li .active-red {
    padding: 5px;
    background-color: red;
    color: white !important;
}

.days li .active-green {
    padding: 5px;
    background-color: green;
    color: white !important;
}

.legend__container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.legend__container li {
    display: inline-block;
    padding: 0 10px;
}

.legend__container ul > h3 {
    color: rgb(0, 131, 167);
    font-size: 12px;
}

.legend__container > ul > li {
    font-size: 12px;
}

.time__class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.time__class > h3 {
    color: rgb(0, 131, 167);
    font-size: 18px;
}

.time__class > select {
    width: 300px;
    height: 40px;
}

.time__class > button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    background-color: red;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.list__names {
    display: flex;
    justify-content: center;
}

td {
    width: 600px;
}


#button__f {
    background-color: red;
    border: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

#button__c {
    background-color: green;
    border: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.button__save {
    display: flex;
    justify-content: center;
}

.button__save > button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    background-color: green;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.number__list {
    background-color: rgb(0, 131, 167);
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
}
