<div class="filter__name">
    <input type="text" name="" id="myInput" placeholder="Pesquisa por nome do aluno">
</div>

<table>
    <thead>
        <tr>
            <th>Aluno</th>
            <td colspan="5">Gabrielli Crippa Sancassani</td>
            <th>Ano</th>
            <td colspan="2">3</td>
            <th>Turma</th>
            <td colspan="2">A</td>
        </tr>
        <tr>
            <th rowspan="2">Disciplina</th>
            <th colspan="3">1º Bimestre</th>
            <th colspan="3">2º Bimestre</th>
            <th colspan="3">3º Bimestre</th>
            <th colspan="3">4º Bimestre</th>
            <th colspan="3">Avaliação/Situação</th>
        </tr>
        <tr>
            <th>N</th>
            <th>F</th>
            <th>% Freq</th>
            <th>N</th>
            <th>F</th>
            <th>% Freq</th>
            <th>N</th>
            <th>F</th>
            <th>% Freq</th>
            <th>N</th>
            <th>F</th>
            <th>% Freq</th>
            <th>Média</th>
            <th>% Freq Total</th>
            <th>Situação</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Português</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Aprovado</td>
        </tr>
        <tr>
            <td>Matemática</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Reprovado</td>
        </tr>
        <tr>
            <td>História</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Aprovado</td>
        </tr>
        <tr>
            <td>Geografia</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Aprovado</td>
        </tr>
        <tr>
            <td>Química</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Reprovado</td>
        </tr>
        <tr>
            <td>Biologia</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Aprovado</td>
        </tr>
        <tr>
            <td>Física</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Reprovado</td>
        </tr>
        <tr>
            <td>Ed. Física</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Aprovado</td>
        </tr>
        <tr>
            <td>Arte</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Reprovado por falta</td>
        </tr>
        <tr>
            <td>Inglês</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>8</td>
            <td>1</td>
            <td>98%</td>
            <td>6,0</td>
            <td>98%</td>
            <td>Reprovado por falta</td>
        </tr>
    </tbody>
</table>

<table class="caption">
    <tr><td>N: Nota</td></tr>
    <tr><td>F: Frequência</td></tr>
</table>
